.fs-7 {
  font-size: 0.8rem;
}
.fs-0 {
  font-size: 4rem;
}
.bg-grey {
  background-color: #f0f2f5;
}

/* Navbar */
.nav-btn:hover {
  background-color: #f0f2f5;
  color: blue;
}

.navBtn-active i {
  color: blue;
}

.navBtn-active {
  position: relative;
}

.navBtn-active:before {
  content: "";
  position: absolute;
  bottom: -6px;
  width: 100%;
  border-bottom: 3px solid blue;
}

/* @media (min-width: 800px) {
  footer {
    position: fixed;
    bottom: 0;
    width: 100%;
  }
} */
