.fs-7 {
  font-size: 0.8rem;
}
.fs-0 {
  font-size: 4rem;
}
.bg-grey {
  background-color: #f0f2f5;
}

/* @media (min-width: 800px) {
  footer {
    position: fixed;
    bottom: 0;
    width: 100%;
  }
} */
